{{ define "banner_default" }}

<div class="banner py-3 px-5 d-flex justify-content-between align-items-center">
    <div class="me-3 d-flex flex-column align-items-start">
        <h3 class="text-start">Showcase Your<br>Bitcoin Conference</h3>
        <a class="analytics-banner-submit btn-bconf" href="/submit" target="_blank">List Your
            Conference</a>
    </div>
    <img id="btc-logo" class="me-md-5 me-lg-7" src="/static/img/bitcoin-logo.svg" width="100px" height="100px"
        alt="banner logo" />
</div>

{{ end }}